results/*

!results/aggregated_library_strains
results/aggregated_library_strains/*
!results/aggregated_library_strains/library_strains.tsv

!results/curated_library
results/curated_library/*
!results/curated_library/*.tsv
!results/curated_library/*_log.txt

!results/recent_haplotype_validation

!results/site_annotations
results/site_annotations/*
!results/site_annotations/*_site_annotations.tsv

!results/tree
results/tree/*
!results/tree/*_auspice.json
